// Search input field

.search-field {

  input {
    width: 100%;
    max-width: 500px;
    border-bottom: solid 2px rgba(0,0,0,.1);
    transition: border .15s ease-out;
    font-size: 1.25em;
  }
  
  

  &[active] input {
   border-bottom: solid 2px rgba(0,0,0,.4);
  }

  .input-wrapper {
    position: relative;

    .icon {
      background-image: ~"url(./images/search.svg)";
      background-position: center;
      background-size: 20px;
      background-repeat: no-repeat;
      position: absolute;
      height: 30px;
      width: 20px;
      right: 0;
      top: -4px;
      opacity: .3;
      
    }

    a {
      position: absolute;
      right: -4px;
      bottom: -3px;
      color: rgba(0,0,0,.3);
      font-size: 32px;
      font-weight: 300;
      transform: rotate(45deg);
      transition: color .15s ease-out;
      padding: 3px 9px 0px 9px;

      &:after {
        content: "+";
      }

      &:hover {
        color: rgba(0,0,0,.5);
        text-decoration: none;
      }
    }
  }
}



@media all and (max-width: 600px) {
  .search-field {
    input {
      font-size: 1em;      
    }
    
    .input-wrapper .icon {
      top: -3px;
      
      
    }
    
    .input-wrapper a {
      right: -5px;
      bottom: -3px;
    }
  }

}
